@model IEnumerable<OdeToFood.Models.RestaurantReview>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>Showing the latest @Model.Count() reviews</p>

@foreach(var item in Model) {
    @:Review
<div class="review">
    <h4>@item.Name</h4>
    <span>@item.Rating</span>
    <p>@item.City, @item.Country</p>
</div>
    @:}
}
